README.md
*.pyc
*.pyo
*.pyd
__pycache__
venv
model/model.txt
train_notebooks
.git
.DS_Store
static/images/demo.png
model/distil_toxic_model.pt
model/toxic_model.pt
model/pytorch_model.bin
model/model.txt
